.team{background-color:var(--second-background-color)}

.team__card{
  width: calc(100%/4 - 30px/4*3);
   border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
  box-shadow: var(--card-shadow);}

  

.team__list{display: flex;
gap: 30px;}


.team__title{
  font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
margin-bottom: 50px;
}
   .team__subtitle {
    font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

.team__text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
color: var(--second-text-color);}

  .team__p{
    padding: 30px;
  }
.team__link{
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  /* color: tomato; */
fill: var(--color-link-web);
transition: background-color 250ms var(--cubic);

&:hover,
&:focus{
  background-color: var(--button-primary-background-color);
}

}

.team__icon{
transition: fill 250ms var(--cubic);

.team__link:hover &,
.team__link:focus &{
fill: var(--primary-background-color);
}

}

// .team__link:hover,
// .team__link:focus{
//   background-color: var(--button-primary-background-color);
// }

// .team__link:hover .team__icon,
// .team__link:focus .team__icon{
// fill: var(--primary-background-color);
// }
.team__people{
  display: flex;
  justify-content: center;
  gap: 10px;
}